/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* revalia-regular - latin */
@font-face {
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/revalia-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/revalia-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

 /* body - start */

body {
  margin: 0 auto;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: normal;
  line-height: 26px;
  max-width: 100%;
  min-width: 320px;
  height: 100%;
  color: #000000;
  text-decoration: none;
  
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    letter-spacing: 0.1em;
}

a:hover {
    color: #34547A;
}

p {
    display: flex;
    flex-wrap: wrap;
    color: #727272;
    margin-bottom: 60px;
}

button {
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

h1 {
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 10%;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 50px;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;

}

.row {
    max-width: 100%;
}

.section {
    max-width: 100%;
    /* padding: 0; */
}

img {
    display: block;
    object-fit: contain;
}
/* body - end */

/* individual sections - start */

/* .row_1 {
    width: auto;
} */
.container_2 {
    max-width: 90%;
}

.menu {
    width: 100%;
    padding: 0;
    margin-top: 79px;
    /* margin-left: 10%; */
}

#display_picture {
    position: relative;
    left: 7.73%;
    right: 6.5%;
    top: 3.29%;
    bottom: 6.8%;
}

.gallery {
    display: flex;
    flex-wrap: wrap; 
    margin: auto;
}

.text_me {
    text-align: center; 
}

.about_me {
    text-align: center;
}



.section_first {
    background: #EEEFF1;
}  

.logo_menu {
    display: flex;
}

.logo {
    margin-top: 57px;
    margin-left: 20%;
    margin-right: 5%;
}

.menu li {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: none;
    margin-right: 15px;  

}


.menu__link  {
    font-family: Roboto;
    font-weight: 500;
    /* font-size: 1rem; */
    line-height: 26px;
    color: #000000;  
}

.dropdown {
    margin-left: 0;
}

.dropdown-menu {
    display: none;
    border: none;
    outline: none;
    margin-left: -1em;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
}
  
#dropdownMenuButton {
    position: relative;
    top: 1em;
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin-top: 32px;
    
}

.row_2 {
    margin-top: 162px;
    max-height: fit-content;
}

.button_write {
    /* width: 225px;
    height: 65px; */
    background: #34547A;
    color: #ffffff;
    margin-bottom: 100px;
}

.about_me {
    margin-top: 112px;
}

.p_text {
    text-align: center;
    margin-bottom: 100px;
}

.p_project {
    display: block;
}

.section_third {
    background:  #34547A;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 30px;
    max-width: 1110px;
}

.img_gallery {
    width: 50px;
    height: 50px;
}

.p_project {
    color: #ffffff;
    text-align: center;
}

.section_fifth {
    background: #EEEFF1;
}

.work {
    margin-top: 100px;
}

.video {
    margin-bottom: 100px;
}